<div id="content">






    
    




<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid" >

    <footer class="text-white text-center text-lg-start" >
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Our Vision</h5>
  
            <p>
               <i><b><u>" Your trust, our priority....!"</u></b></i> 
            </p>
  
            <p style="text-align: justify;">
              MyStore is an e-commerce platform that offers a wide range of features 
              that enable entrepreneurs to venture, expand, and oversee a business. Aside
               from their platform and expertise, they also banner their cloud-based platform. 
               The platform allows users to access their accounts anytime and anywhere.
            </p>
  
            <div class="mt-4">
              <!-- Facebook -->
              <a type="button" class="btn btn-floating"><i class="fab fa-facebook-f btn-lg"><img src="./../../../assets/icons8-facebook-48.png" alt="Facebook" style="background-color: black;"> </i></a>
              <!-- Dribbble -->
              <a type="button" class="btn btn-floating"><i class="fab fa-dribbble btn-lg"><img src="./../../../assets/icons8-instagram-48.png" alt="Instagram"> </i></a>
              <!-- Twitter -->
              <a type="button" class="btn btn-floating"><i class="fab fa-twitter btn-lg"></i><img src="./../../../assets/icons8-youtube-48.png" alt="Youtube"> </a>
              <!-- Google + -->
              <a type="button" class="btn btn-floating"><i class="fab fa-google-plus-g btn-lg"><img src="./../../../assets/icons8-twitter-48.png" alt="Twitter"> </i></a>
              <!-- Linkedin -->
            </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1" style="margin-left: 50px;">Contact</h5>
  
            <div class="form-outline form-white mb-4">
              
              
              
              <ul class="fa-ul" style="margin-left: 1.65em;">
                <li class="mb-3">
                  <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Balaji Nagar, Pune, Maharashtra</span>
                </li>
                <li class="mb-3">
                  <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">mystore@gmail.com</span>
                </li>
                <li class="mb-3">
                  <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+91 8684912515</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1" style="margin-left: 50px;">Customer Care</h5>
  
            <div class="form-outline form-white mb-4">
              
              
              
              <ul class="fa-ul" style="margin-left: 1.65em;">
                <li class="mb-3" st>
                  <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">OrderCancellation</span>
                </li>
                <li class="mb-3">
                  <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">FAQ</span>
                </li>
                <li class="mb-3">
                  <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">MyAccount</span>
                </li>
                <li class="mb-3">
                  <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">Orders & Returns</span>
                </li>
                <li class="mb-3">
                  <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">Store Locator</span>
                </li>
                <li class="mb-3">
                  <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">Contact Us</span>
                </li>
              </ul>
            </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="">MyStore.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  
  </div>
  <!-- End of .container -->
</div>