
<div *ngIf="app.userReg == 4 && app.viewProfile == 0">
    <h4>Please Registed...!</h4>
    <button (click)="createAcc()">Create Account</button>
  </div>
  
  <div *ngIf="app.userReg == 4 && app.viewProfile == 1">
    <div>
      <div style="text-align: center;">
        <div>
          <div>
            Customer Id :
            <span >{{ loggedUserInfo.customerId }}</span
            ><br />
          </div>
          <div>
            First_Name :
            <span >{{ loggedUserInfo.firstName }}</span
            ><br />
          </div>
          <br />
          <div>
            Last_Name :
            <span>{{ loggedUserInfo.lastName }}</span
            ><br />
          </div>
          <br />
          <div>
            User_Name :
            <span>{{ loggedUserInfo.username }}</span
            ><br />
          </div>
          <br/>
          <div>
            Gender :
            <span>{{ loggedUserInfo.gender }}</span
            ><br />
          </div>
          <br />
          <div>
            Email : <span>{{ loggedUserInfo.email }} </span
            ><br />
          </div>
         
          <br />
        </div>
      </div>
    </div>
  </div>


  <div style="display: flex;">
    <div style="width: 30%; background-color: aqua;">

      hi
    </div>
    <div style="width: 60%; background-color: burlywood;">
hello
    </div>
  </div>


