<!-- <section class="container-fluid">
  <h1 class="trial-h1"><b>Create Youtr Accoun</b></h1>
  <div class="row">
    <div class="col-sm-4">
      <img src="./../../../assets/Untitled-design.png" class="trial-img" />
    </div>
    <div class="col-sm-8"></div>
    
    <div>
      First Name: <br>
      <input type="text"><br>
      Last Name: <br>
      <input type="text"><br>
      
    </div>
  </div>
</section> -->


<section class="container-fluid">
  <div id="trial">
    <h2 class="trial-h1">Create Your Account</h2>
    <div class="row">
      <div class="col-sm-6">
        <img src="./../../../assets/Untitled-design.png" class="trial-img">
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" name="" [(ngModel)]="usrObj.firstName">
          <label>Last Name</label>
          <input type="email" name="" [(ngModel)]="usrObj.lastName"> 
          <label>E-mail</label>
          <input type="email" name="" [(ngModel)]="usrObj.email">
          <label>Username</label>
          <input type="text" name="" [(ngModel)]="usrObj.userName">
          <label>Password</label>
          <input type="password" name="" [(ngModel)]="usrObj.password">
          <div style="text-align: center; margin-top: 10px;">
            <button (click)="customer()" [disabled]="udisable">Customer</button>
            <button (click)="shop()" [disabled]="sdisable">Shop Owner</button>

          </div>
          <button type="button" class="btn form-btn"><a href="#" style="color: black; font-weight: bold; margin-bottom: 20px;" (click)="submit()">Submit</a></button>
        </div>
      </div>
    </div>
  </div>
</section>
