<!-- <section class="container-fluid">
  <h1 class="trial-h1"><b>Create Youtr Accoun</b></h1>
  <div class="row">
    <div class="col-sm-4">
      <img src="./../../../assets/Untitled-design.png" class="trial-img" />
    </div>
    <div class="col-sm-8"></div>
    
    <div>
      First Name: <br>
      <input type="text"><br>
      Last Name: <br>
      <input type="text"><br>
      
    </div>
  </div>
</section> -->


<section class="container-fluid">
  <div id="trial">
    <h2 class="trial-h1">Create Your Account</h2>
    <div class="row">
      <div class="col-sm-6">
        <img src="./../../../assets/Untitled-design.png" class="trial-img">
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" name="" [(ngModel)]=" reg.first_name " >
          <label>Last Name</label>
          <input type="email" name="" [(ngModel)]=" reg.last_name ">
          <label>E-mail</label>
          <input type="email" name=""  [(ngModel)]="reg.email">
          <label>Username</label>
          <input type="text" name="" [(ngModel)]="reg.username">
          <label>Password</label>
          <input type="password" name="" [(ngModel)]="reg.password">

          <div>
            <label>Choose User Type:</label>
            <select (change)="select($event)">
              <option>Select User Type</option>
              <option>
                Shop Owner
              </option>
              <option>
                Customer
              </option>
            </select>
            <br />
            <br />
          </div>
          <button type="button" class="btn form-btn"><a style="color: black; font-weight: bold; margin-bottom: 20px;"
              (click)="submit()">Submit</a></button>
        </div>
      </div>
    </div>
  </div>
</section>